.daysContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 5px;
  gap: 5px;
  grid-auto-flow: row;
}
.date-picker {
  border: 1px solid var(--color-black);
  border-radius: 4px;
}
