.radioButton input[type='radio'] {
  visibility: hidden;
}
.radioButton label {
  position: relative;
}
.radioButton input[type='radio'] + label:before {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  position: absolute;
  background-color: var(--color-white);
  content: '';
  display: inline-block;
  border: 3px solid;
  top: 50%;
  left: -15px;
  transform: translate(-50%, -50%);
}
.radioButton input[type='radio']:checked + label:after {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  content: '';
  visibility: visible;
}
.radioButton #active + label:before {
  border-color: var(--color-ui-secondary);
}
.radioButton #active:checked + label:after {
  border: none;
  background-color: var(--color-ui-secondary);
}
.radioButton #sleep + label:before {
  border-color: var(--color-ui-primary);
}
.radioButton #sleep:checked + label:after {
  border: none;
  background-color: var(--color-ui-primary);
}
.radioButton #fallingAsleep + label:before {
  border-color: var(--color-ui-tertiary);
}
.radioButton #fallingAsleep:checked + label:after {
  border: none;
  background-color: var(--color-ui-tertiary);
}
.radioButton input[type='radio']:checked + label#fallingAsleep {
  color: var(--color-ui-tertiary);
}
.radioButton input[type='radio']:checked + label#active {
  color: var(--color-ui-secondary);
}
.radioButton input[type='radio']:checked + label#sleep {
  color: var(--color-ui-primary);
}
.radioButton label {
  cursor: pointer;
}
