
.cell {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
}
.cell:hover {
	border: 2px solid black;
	background: lightgreen;
}
.cell.active{
	background: green;
	
}

.cell.selected {
	background: lightgreen;
}