
.cell {
	width: 12px;
	height: 20px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
}
.cell:hover {
	background: lightgreen;
}
.cell.active{
	background: red;
	
}
.cell.sleep{
	background: green;
}
.cell.awake{
	background: orange;
}

.cell.selected {
	background: lightgreen;
}