
.radioBtn:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -1px;
        left: -4px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
.radioBtn:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -1px;
        left: -4px;
        position: relative;
        content: '';
        display: inline-block;
        visibility: visible;
        
    }
     .radioBtn#active:checked:after{
         background-color:#acb3b9;
    }
     .radioBtn#active:after{
         border: 2px solid #acb3b9;
     }

    .radioBtn#sleep:checked:after{
         background-color: #3f3feb;
    }
     .radioBtn#sleep:after{
         border: 2px solid #3f3feb;
     }
    .radioBtn#fallingAsleep:checked:after {
         background-color: #adcbeb;
    }
     .radioBtn#fallingAsleep:after{
         border: 2px solid #adcbeb;
     }


.radioBtn:checked + label#fallingAsleep {
     color: #adcbeb;
    font-weight: bold;
}
.radioBtn:checked + label#active {
     color: #acb3b9;
    font-weight: bold;
}
 .radioBtn:checked + label#sleep  {
     color: #3f3feb;
    font-weight: bold;
}
 .radioBtn, .btnLabel{
    cursor: pointer;
}