:root {
  --color-ui-primary: #3f3feb;
  --color-ui-secondary: #acb3b9;
  --color-ui-tertiary: #adcbeb;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
