.cell {
  width: 25px;
  height: 1px;
  opacity: 1;
  border-radius: 3px;
  margin: 1px;
}
.cell.active {
  background: var(--color-ui-secondary);
}
.cell.sleep {
  background: var(--color-ui-primary);
}
.cell.fallingAsleep {
  background: var(--color-ui-tertiary);
}
